/* Generic fonts */

html {
    background-color: #151820;
    font-size: 16px;
    color: #c6c5fc;
    font-family: monospace, sans-serif;
    scroll-behavior: smooth;
    text-align: center;
}

h1 {
    font-family: 'Saira Condensed', sans-serif;
    /* color: white; */
    font-size: 9em;
    font-weight: 100;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5em;
    font-weight: lighter;
}

h3 {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: light;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25em;
    line-height: 1.5em;
}

p br {
    margin-bottom: 1em;
}

/* Nav bar */

nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(61, 60, 60);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}

nav ul {
    list-style-type: none;
    margin: 1;
    font-weight: lighter;
    font-size: 1em;
    color: #c6c5fc;
}

nav li {
    text-decoration: none;
    float: left;
}

nav li:hover {
    border-bottom: 1px solid rgb(198, 197, 252);
}

nav a {
    display: inline-block;
    padding: 1em;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#button {
    float: right;
    right: 2em;
    position: absolute;
    top: 0.5em;
    offset-anchor: right;
}

#button:hover {
    cursor: pointer;
}

#button img {
    height: 2em;
    width: 2em;
    transition: transform 0.2s;
    transform: scale(1.0);
}

#button img:hover {
    transform: scale(1.2);
}


/* Main section */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 13em;
}

.description {
    max-width: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    margin-bottom: 10em;
}

/* Anchors */
.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15em;
}

header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 20em;
    margin: 3em auto;
}

/* Projects */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: -10px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#projects img {
    width: 40em;
}

.heading h4 {
    margin-top: 1em;
}

#projects img {
    margin-bottom: 1em;
    margin-top: 1em;
    border: 5px solid #1f1d1d;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project p {
    justify-self: center;
    max-width: 45em;
}

.preview {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.preview li {
    margin: auto 1em;
    color: white;
    font-weight: bold;
}

.postPreview {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    transition: color 0.3s, background-color 0.2s linear;
}

.postPreview:hover {
    background-color: rgb(255, 255, 255);
    color:rgba(0, 0, 0, 0);
}

#cpp {
    background-image: url("../images/cpp.png");
}

#systemsProgramming {
    background-image: url("../images/os-main.jpg");
}

#linux {
    background-image: url("../images/linuxLogo.jpg");
}

#python {
    background-image: url("../images/pythonLogo.jpg");
}

/* About section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media section */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMedia {
    margin: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.socialMedia a {
    background-color: white;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: black solid 3px;
    transition: background-color 0.5s;
    margin: 0.5em;
}

.socialMedia a:hover {
    background-color: rgb(198, 197, 252);
}

.socialMedia #insta {
    background-image: url("../images/socialIcons/instagram.png");
    background-size: 110%;
}

.socialMedia #twitter {
    background-image: url("../images/socialIcons/twitter.png");
    background-size: 115%;
}

.socialMedia #facebook {
    background-image: url("../images/socialIcons/facebook.webp");
    background-size: 125%;
}

.socialMedia #linkedin {
    background-image: url("../images/socialIcons/linkedIn.png");
    background-size: 105%;
}

.socialMedia #github {
    background-image: url("../images/socialIcons/github.png");
    background-position: -1px -2px;
    background-size: 110%;
}

#contactEmail:hover {
    text-decoration: underline;
}

/* Media query breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    p {
        max-width: 80%;
        justify-self: center;
    }
}

/* Small devices (portrait tablets and large phones, less than 768px) */
@media only screen and (max-width: 768px) {
    nav a{
        font-size: 0.75em;
        padding: 0.75em;
    }

    #button {
        right: 0.75em;
    }

    #button img {
        height: 1em;
        width: 1em;
    }

    main {
        top: 8em;
    }

    h1 {
        font-size: 6em;
    }

    h3 {
        font-size: 1em;
        margin-top: 2em;
        max-width: 75%;
        line-height: 1.5em;
    }

    .postPreview {
        width: 5em;
        height: 5em;
    }

}

/* Medium devices (landscape tablets, less than 992px) */
@media only screen and (max-width: 992px) {

}

/* Large devices (laptops/desktops, less than 1200px) */
@media only screen and (min-width: 1200px) {

}
